@model IEnumerable<MCommunity.Models.ArticleCategory>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

                <ul class="breadcrumb" style="margin-bottom: 25px;">
                    <li><a href="/blog/changvh">首页</a> <span class="divider">/</span></li>
                    <li><a href="/admin/home">管理</a> <span class="divider">/</span></li>                  
                    <li class="active">文章分类	</li>
                </ul>
                <div class="back-right-inner">
                	<div class="input-prepend input-append" style="text-align:center;">
                      <input type="text"  id="c_name"  class="span3" name="name" placeholder="此处输入分类名称" maxlength="20">
                      <input type="text"  id="c_order"  class="span2" name="order" placeholder="此处输入排序" maxlength="20">
                      <button id="category_add" class="btn btn-primary">添加新分类</button>
                    </div>
                    <div class="divbord mg-t-30">
	                    <table class="table table-hover tbfix">
	                      <thead>
	                        <tr class="fc-008">
	                          <th width="50%">标题</th>
	                          <th width="19%">文章数量</th>
	                          <th width="19%">管　理</th>
	                          <th width="12%">排序</th>
	                        </tr>
	                      </thead>
	                      <tbody>
	                        <tr id="tr_248" name="248">
	                          <td>
	                          	<a href="javascript:category_edit(248)" id="c_text_248" class="category_name" title="修改分类名称">默认</a>
	                          </td>
	                          <td>0</td>
	                          <td>
	                          	<a class="category_edit" href="javascript:category_edit(248)"><i class="icon-edit"></i></a> |
		          				<a class="category_del" href="#myModal" name="248_0"><i class="icon-remove"></i></a>
	                          </td>
	                          <td>
	                          	<!-- 如果只有一个元素,就不显示排序按钮 -->
	                          </td>
	                        </tr>
                            @foreach (var item in Model) {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CategoryName)
                                    </td>
                                    <td>
                                        0
                                    </td>
                                    <td>
                                        @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                                        @Html.ActionLink("Details", "Details", new { id=item.Id }) |
                                        @Html.ActionLink("Delete", "Delete", new { id=item.Id })
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.SortNumber)
                                    </td>
                                </tr>
                            }
	                        <tr id="hidden_248" class="hide" bgcolor="#ffff99">
					          <td colspan="2">
					            <input type="hidden" name="id" value="248"/>
				            	<div class="input-append">
				            	  <input type="text" name="name" value="默认" id="hidden_c_name_248"  class="c_edit_name_248 span3" maxlength="20"/>
								  <button class="btn btn-primary category_edit_do " name="248"/>修改
								  <button id="category_edit_cancel_248" class=" btn btn-primary category_edit_cancel" name="248" />取消
								</div>
					          </td>
					          <td colspan="2" bgcolor="#ffff99" style="color: red;font-weight: bold;"><span class="edit_msg_248"></span></td>
					        </tr>
	                      </tbody>
	                    </table>
                    </div>
                </div>



<script type="text/javascript">
    $(function () {
        $('#category_add').click(function () {
            $.ajax({
                dataType: 'json',
                type: 'POST',
                url: '/articlecategory/new',
                data: { CategoryName: $('#c_name').val(), SortNumber: $('#c_order').val() },
                complete: function (req, status, res) {
                    if (status == "success") {
                        if (request.responseText == "1") {
                            alert("成功");
                        } else {
                            alert("失败");
                        }
                    } else if (status == "error") {
                        alert(res.textStatus);
                    }
                }
            });
        });
    });
</script>