@model  MCommunity.Models.Article
@{
    ViewBag.Title = "Create";
}

@section scripts{
    <link rel="stylesheet" href="@Url.Content("~/Content/editor/themes/default/ueditor.css")" type="text/css" />
    <script type="text/javascript" src="@Url.Content("~/Content/editor/editor_config.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/editor/editor_all.js")"></script>

    <script type="text/javascript">
        var UEditor;
        $(function () {
            UEditor = new baidu.editor.ui.Editor({
                autoHeightEnabled: false,
                initialContent: ''
            });
            UEditor.render('uEditor');
        });
    </script>

}

<ul class="breadcrumb" style="margin-bottom: 5px;">
    <li><a href="/home">首页</a> <span class="divider">/</span></li>
    <li><a href="/admin/home">管理</a> <span class="divider">/</span></li>
    <li class="active">发表文章</li>
</ul>
<div class="post-form-wrapper">
    <form action="/admin/post/new-do" method="post" id="entry_form">
        <p class="text-info">标题(必填)</p>
        @Html.TextBoxFor(_ => _.Title, new { @class = "span7", maxlength = "80", placeholder = "此处输入文章标题" })
        @Html.DropDownListFor(_ => _.CategoryId, ViewBag.Categories as SelectList, new { @class="span2"})
        <div>
            <p class="text-info">
                内容(必填)
                <span style="float: right; display: inline-block;">
                    <input data-val="1" type="button" class="btn btn-command btn-medium btn-primary" value="发   表" />
                    <input data-val="0" type="button" class="btn btn-command btn-medium btn-primary" value="存为草稿" />
                </span>
            </p>
        </div>
        <textarea id="uEditor" name="content" style="width: 100%;"></textarea>
        <br />
        <p>
            文章类型：  
            @foreach (MCommunity.Models.ArticleType item in @ViewBag.Types)
            {
                <label class="radio inline">
                    <input type="radio" name="TypeId" id="@item.TypeId" value="@item.TypeId"  />
                    @item.TypeName 
                </label>
            }
        </p>
        <script>
            $(function () {
                $(":radio[name=TypeId]:first").attr('checked', 'checked');
            });
        </script>
        <p>
            隐私设置： 
            <input type="radio" name="IsPublic" value="1" checked="checked" />
            对所有人可见 
            <input type="radio" name="IsPublic" value="0" />
            保密(只对自己可见)
        </p>
        <p>
            设为置顶：
            <input type="checkbox" name="IsTop" id="checkbox" value="1" />
            评论设置:
            <input type="radio" name="IsAllowComment" value="1" checked="checked" />允许评论
            <input type="radio" name="IsAllowComment" value="0" />禁止评论
        </p>
        <p>
            @Html.HiddenFor(_ => _.IsDraft)
        </p>
    </form>
</div>

<script>
    $(function () {
        $('.btn-command').click(function (e) {
            e.preventDefault();
            $('#IsDraft').val($(this).attr('data-val'));
            saveArticle();
        });
    });

    function saveArticle() {
        UEditor.sync();
        $.ajax({
        url: '@Url.Action("Create","Article")',
        cache: false,
        type: 'POST',
        data: $('#entry_form').serialize(),
        success: function (data) {
            $('#entry_form :input').val('');
            art.dialog({
                title: '信息提示',
                content: data.msg
            }).time(3000);
        }
    });
    }

</script>

